// variabler
$primcol: #bec4e5;
$seccol: #616fbd;
$fontcol: #555;
$fontcol2: #222;
$marginop: 100px;
$marginned: -8px;
$cleantext: none;
$smallText: 20px;
$ulHeaderAndH2: 40px;
$fillSides: 7%;
$contentpanel: 40%;
$midfills: 6%;
$mainFontType: monospace;
$movies: 33%;